<div class="settings-panel white-bg">
    <p class="large-text">Setting</p>
    <ul class="settings border-bottom v-center">
        <li ng-class="tab == 'account' ? 'small-text link selected' : 'small-text link'" ng-click="tab = 'account'">Account</li>
        <li ng-class="tab == 'accountSettings' ? 'small-text link selected' : 'small-text link'" ng-click="tab = 'accountSettings'">Account Settings</li>
        <li ng-class="tab == 'data' ? 'small-text link selected' : 'small-text link'" ng-click="tab = 'data'">Data management</li>
    </ul>

    <div class="tab-detail" ng-if="tab == 'account'">
        <p class="medium-text">Collash basic account (5GB)</p>
        <div class="user-info-panel v-center">
            <div class="user-image">
                <img src="images/user-image.png" class="circle border" alt="image"/>
            </div>
            <div class="user-info">
                <p class="medium-text">John Doe</p>
                <p class="small-text">johndoe@gmail.com</p>
                <p class="small-text underline link" ng-click="changePass = true">Change Password</p>
            </div>
        </div>
        <div class="change-pass-panel" ng-if="changePass == true">
            <div class="row">
                <p class="small-text">Old Password</p>
                <input type="password" class="round-border"/>
            </div>
            <div class="row">
                <p class="small-text">New Password</p>
                <input type="password" class="round-border"/>
            </div>
            <div class="row">
                <p class="small-text">Confirm Password</p>
                <input type="password" class="round-border"/>
            </div>
            <div class="row">
                <button class="round-border" ng-click="resetPassword()">Submit</button>
            </div>
        </div>
        <div class="user-account-panel">
            <p class="border-bottom">Get Collash</p>
            <div class="contact-me v-center">
                <button class="round-border">Text to my phone</button>
                <button class="round-border">Email to my device</button>
            </div>
            <div class="stores v-center">
                <img src="images/app-store.png" alt="app store"/>
                <img src="images/google-play.png" alt="app store"/>
                <img src="images/blackberry-world.png" alt="app store"/>
                <img src="images/windows-store.png" alt="app store"/>
            </div>
            <div class="install-panel">
                <p class="small-text">Install Collash on your personal computer</p>
                <button class="round-border">Install</button>
            </div>
        </div>
    </div>

    <div class="tab-detail" ng-if="tab == 'accountSettings'">
        <div class="connect-page">
            <div class="accounts-panel border-bottom">
                <p class="medium-text">My Accounts</p>
                <ul class="v-center">
                    <!--<li class="box round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>-->
                    <!--<li class="box twitter round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>-->
                    <!--<li class="box dropbox round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>-->
                    <!--<li class="box drive round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>-->
                    <!--<li class="box add-new round-border app-theme-light-bg"><p class="e-large-text t-center">+</p><button class="round-border">More</button></li>-->
                    <li class="box round-border"><img src="images/fb.png" alt="social media" class="circle"/><button class="round-border">Connect</button></li>
                    <li class="box twitter round-border"><img src="images/twitter.jpg" alt="social media" class="circle"/><button class="round-border">Connect</button></li>
                    <li class="box dropbox round-border"><img src="images/drive.png" alt="social media" class="circle"/><button class="round-border">Connect</button></li>
                    <li class="box twitter round-border"><img src="images/twitter.jpg" alt="social media" class="circle"/><button class="round-border">Connect</button></li>
                </ul>
            </div>
            <div class="device-panel">
                <p class="medium-text">My Devices</p>
                <ul class="clear">
                    <li class="box left" ng-click="overlay = 'device'"><img src="images/ipad.png" alt="ipad">
                        <span class="title" style="text-align: left; margin-left: 45px;">John's iPad</span>
                        <div class="details border-bottom">
                            <p>Device name &nbsp;John's Mac</p>
                            <p>Last Access &nbsp; 8/22/2015 5.13PM</p>
                            <p>Status &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Active</p>
                        </div>
                    </li>
                    <li class="box left" ng-click="overlay = 'device'"><img src="images/iphone.png" alt="iphone"><span class="title">John's iPhone</span></li>
                    <li class="box left" ng-click="overlay = 'device'"><img src="images/android.png" alt="android"><span class="title">John's Android</span></li>
                    <li class="box left" ng-click="overlay = 'device'"><img src="images/blackberry.png" alt="blackberry"><span class="title">John's Blackberry</span></li>
                    <li class="box left" ng-click="overlay = 'device'"><img src="images/windows.png" alt="windows"><span class="title">John's Windows</span></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="tab-detail data" ng-if="tab == 'data'">
        <p class="medium-text">Collash basic account (5GB)</p>
        <div class="usage-bar border">
            <div class="slider app-theme-bg"></div>
        </div>
        <div class="data-usage clear">
            <div class="left small-text">1.79 GB of 5GB</div>
            <div class="right small-text">3.21 GB available</div>
        </div>
        <div class="usage-panel box clear two-column">
            <div class="left box accounts border-right">
                <p class="small-text">My Accounts</p>
                <ul class="usage-list">
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/fb.png" alt="fb"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">85 MB of 200MB</div>
                        </div>
                    </li>
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/twitter.jpeg" alt="fb"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">24 MB of 200MB</div>
                        </div>
                    </li>
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/dropbox.png" alt="fb"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">185 MB of 200MB</div>
                        </div>
                    </li>
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/drive.png" alt="fb"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">825 MB of 900MB</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left box devices">
                <p class="small-text">My Devices</p>
                <ul class="usage-list">
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/android.png" alt="android"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">25 MB of 200MB used</div>
                        </div>
                    </li>
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/iphone.png" alt="android"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">123 MB of 340MB used</div>
                        </div>
                    </li>
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/ipad.png" alt="android"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">150 MB of 800MB used</div>
                        </div>
                    </li>
                    <li class="usage v-center border-bottom">
                        <input type="checkbox"/>
                        <img src="images/windows.png" alt="android"/>
                        <div>
                            <div class="usage-bar border">
                                <div class="slider app-theme-bg"></div>
                            </div>
                            <div class="left small-text">185 MB of 200MB used</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
