
<div class="overlay-panel login app-theme-bg">
    <div class="floating">
        <div class="container t-center">
            <p class="t-center small-title white-text">welcome to collash</p>

            <form action="">
                <input type="email" name="email" placeholder="Email" class="round-border" required/>
                <input type="password" name="password" placeholder="Password" class="round-border" required/>
                <button class="round-border first"><a href="#/main">login</a></button>
                <button class="round-border facebook"><a href="#/main">Join with Facebook</a></button>

                <div class="splitter v-center"><hr/><span class="mini-text">or</span><hr/></div>

                <button class="round-border gmail"><a href="#/main">Join with Gmail</a></button>
                <div class="mini-text t-center white-text">Create Account</div>
            </form>
        </div>
    </div>
</div>

