<div class="toggler app-theme-bg devices-panel">
    <div class="container">
        <span class="white-text close link" ng-click="closeToggler()">X</span>
        <div class="content-panel two-column box clear">

            <div class="item left box">
                <p class="small-text white-text">My Accounts</p>
                <ul class="list my-accounts-list v-center">
                    <li class="fb t-right round-border"><input type="checkbox"/></li>
                    <li class="drive t-right round-border"><input type="checkbox"/></li>
                    <li class="twitter t-right round-border"><input type="checkbox"/></li>
                    <li class="dropbox t-right round-border"><input type="checkbox"/></li>
                </ul>
            </div>

            <div class="item left box">
                <p class="small-text white-text">My Devices</p>
                <ul class="list my-device-list v-center">
                    <li class="desktop t-right round-border"><input type="checkbox"/></li>
                    <li class="tablet t-right round-border"><input type="checkbox"/></li>
                    <li class="mobile t-right round-border"><input type="checkbox"/></li>
                    <li class="laptop t-right round-border"><input type="checkbox"/></li>
                    <li class="mobile t-right round-border"><input type="checkbox"/></li>
                </ul>
            </div>

        </div>
    </div>
</div>
