.main-page .main-header {
    padding: 15px;
}
.main-page .main-header nav {
    margin-top: 17px;
    margin-right: 100px;
}
.main-page .main-header nav a {
    padding: 0px 10px;
}
.main-page .main-section .search-bar {
    max-width: 400px;
    margin: 100px auto;
}
.main-page .main-section .search-bar.focused {
    max-width: 100%;
    margin: auto;
    background: #FFFFFF;
}
.main-page .main-section .search-bar img {
    width: 100px;
}
.main-page .main-section .search-bar input {
    max-width: 70%;
}
.main-page .main-section .search-bar input:focus {
    border-bottom: 1px solid silver;
}
.main-page .main-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.main-page.settings .main-footer, .main-page.settings .main-footer.focused {
    position: relative;
}
.main-page .main-footer ul.menu {
    padding-left: 100px;
}
.main-page .main-footer ul.menu li div {
    padding: 10px 10px 10px 40px;
    background: url('../../images/tags.png') no-repeat 0px;
    background-size: 48px;
}
.main-page .main-footer ul.menu li.trends div {
    background: url('../../images/trend.png') no-repeat 0px;
    background-size: 48px;
}
.main-page .main-footer ul.menu li.notes div {
    background: url('../../images/notes.png') no-repeat 0px;
    background-size: 48px;
}
.main-page .main-footer ul.menu li.devices div {
    background: url('../../images/devices.png') no-repeat 0px;
    background-size: 48px;
}
.main-page .main-footer ul.copyright li {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-page .toggler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 67px;
    min-height: 175px;
}
.main-page .toggler .close {
    position: absolute;
    right: 20px;
    font-size: 30px;
}
.main-page .toggler .content-panel {
    max-width: 975px;
    margin: 20px auto;
}
.main-page .toggler .item {
    padding: 10px;
}
.main-page .toggler .item p {
    margin: 5px 0px 5px 0px;
}
.main-page .toggler .item img {
    width: 100px;
}
.main-page .toggler.devices-panel ul li.android {
    background: #FFFFFF url('../../images/android.png') no-repeat -16px;
    background-size: 65px;
}
.main-page .toggler.devices-panel ul li.ipad {
    background: #FFFFFF url('../../images/ipad.png') no-repeat -16px;
    background-size: 65px;
}
.main-page .toggler.devices-panel ul li.iphone {
    background: #FFFFFF url('../../images/iphone.png') no-repeat -16px;
    background-size: 65px;
}
.main-page .toggler.devices-panel ul li.windows {
    background: #FFFFFF url('../../images/windows.png') no-repeat -16px;
    background-size: 65px;
}
.main-page .toggler.devices-panel ul li.blackberry {
    background: #FFFFFF url('../../images/blackberry.png') no-repeat -16px;
    background-size: 65px;
}
.main-page .toggler.devices-panel ul li.fb {
    background: #FFFFFF url('../../images/fb.png') no-repeat 7px;
    background-size: 30px;
}.main-page .toggler.devices-panel ul li.twitter {
    background: #FFFFFF url('../../images/twitter.png') no-repeat 7px;
    background-size: 30px;
}.main-page .toggler.devices-panel ul li.dropbox {
    background: #FFFFFF url('../../images/dropbox.png') no-repeat 7px;
    background-size: 30px;
}.main-page .toggler.devices-panel ul li.drive {
    background: #FFFFFF url('../../images/drive.png') no-repeat 7px;
    background-size: 30px;
}
.main-page .toggler.devices-panel ul li input[type="checkbox"] {
    width: 20px;
}
.main-page .toggler.devices-panel ul li {
    padding: 10px 10px 10px 40px;
    background-size: 48px;
    width: 120px;
    margin: 2px;
}
.main-page .toggler.tags-panel ul.tags li {
    background: none;
    position: relative;
    padding-left: 18px;
}
.main-page .toggler.tags-panel ul.tags li:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: red;
    position: absolute;
    left: 0px;
    top: 7px;
}
.main-page .toggler.tags-panel ul.tags li.green:after {
    background: green;
}
.main-page .toggler.tags-panel ul.tags li.yellow:after {
    background: yellow;
}
.main-page .toggler.tags-panel ul.tags li.orange:after {
    background: orange;
}
.main-page .toggler.tags-panel ul.tags li.blue:after {
    background: blue;
}
.main-page .toggler.notes-panel header img {
    width: 50px;
    margin-left: 30px;
}
.main-page .toggler.notes-panel header .close {
    color: #333333;
    top: 7px;
}
.main-page .toggler.notes-panel ul {
    border-top: none;
}
.main-page .toggler.notes-panel ul.notes li {
    padding: 10px 20px;
    cursor: pointer;
}
.main-page .scroll-image {
    width: 135px;
    margin: auto;
    display: block;
}

/* search results */
.search-result {
    max-width: 1020px;
    margin: auto;
}
.results li {
    padding: 2px;
}
.results li img.logo {
    width: 20px !important;
}
.results li div img {
    width: 60px !important;
    margin: -18px;
}
.search-result > div > .result {
    padding: 30px;
}
.search-result > div > .result .result-image {
    width: 150px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
}
.search-result .result-details {
    margin-bottom: 20px;
}
.search-result .share {
    max-width: 300px;
    margin: auto;
    padding: 5px;
}
.search-result .share li {
    padding: 0px 10px;
}
.search-result .colors li  {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: red;
    margin: 3px;
}
.search-result .colors li.green {
    background: green;
}
.search-result .colors li.blue {
    background: blue;
}
.search-result .colors li.orange {
    background: orange;
}
.search-result .colors li.yellow {
    background: yellow;
}
.container.editor-panel {
    padding: 20px;
}
.editor {
    margin: 20px;
    padding: 20px;
}
.editor input {
    max-width: 400px;
}
.editor-img {
    max-width: 620px;
    margin: -35px -65px -65px 0px;
}