<div class="main-page app-theme-light-bg">
    <header class="main-header white-bg clear  gray-text border-bottom">
        <div class="logo-title large-text left">Collash</div>
        <nav class="right small-text">
            <a href="#/user" class="border-right">Welcome back, {{userName}}</a>
            <a href="#/settings" class="border-right">Settings</a>
            <a href="#/logout">Logout</a>
        </nav>
    </header>
    <section class="main-section">
        <div class="container">
            <div class="search-bar">
                <div class="v-center"><img src="images/search.png" alt="search"/><input type="text" placeholder="Type Anywhere" class="large-text"/></div>
            </div>
        </div>
    </section>
    <footer class="main-footer white-bg clear">
        <div ng-include src="'templates/main/my-trend.html'" ng-if="footerMenu == 'trend'"></div>

        <ul class="menu clear border-top border-bottom white-bg">
            <li ng-class="footerMenu == 'notes' ? 'border-left border-right small-text trend link left selected app-theme-bg' : 'border-left border-right small-text trend link left'" ng-click="footerMenu = 'notes'"><div>Notes</div></li>
            <li ng-class="footerMenu == 'tags' ? 'border-right small-text trend link left selected app-theme-bg' : 'border-right small-text trend link left'" ng-click="footerMenu = 'tags'"><div>Tags</div></li>
            <li ng-class="footerMenu == 'devices' ? 'border-right small-text trend link left selected app-theme-bg' : 'border-right small-text trend link left'" ng-click="footerMenu = 'devices'"><div>Active Apps and Devices</div></li>
            <li ng-class="footerMenu == 'trend' ? 'border-right small-text trend link left selected app-theme-bg' : 'border-right small-text trend link left'" ng-click="footerMenu = 'trend'"><div>My Trends</div></li>
        </ul>
        <ul class="v-center copyright right">
            <li class="border-right border-left small-text"><a href="#/notes">2015 collash</a></li>
            <li class="border-right small-text"><a href="#/tags">Privacy Policy</a></li>
            <li class="border-right small-text"><a href="#/devices">Terms and Conditions</a></li>
        </ul>
    </footer>
</div>
