<div class="toggler app-theme-bg">
    <div class="container">
        <span class="white-text close link" ng-click="closeToggler()">X</span>
        <div class="content-panel three-column box clear">
            <div class="item left box v-center">
                <img src="images/anytime.png" alt="trend image"/>
                <div class="content white-text">
                    <p class="medium-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                </div>
            </div>
            <div class="item left box v-center">
                <img src="images/anytime.png" alt="trend image"/>
                <div class="content white-text">
                    <p class="medium-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                </div>
            </div>
            <div class="item left box v-center">
                <img src="images/anytime.png" alt="trend image"/>
                <div class="content white-text">
                    <p class="medium-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                    <p class="small-text">Lorum ipsum is simply</p>
                </div>
            </div>
        </div>
    </div>
</div>
