<div class="toggler app-theme-bg notes-panel">
    <div class="container">
        <header class="clear white-bg border-top">
            <img src="images/notes.png" alt="notes" class="left app-theme-bg">
            <span class="white-text right close link" ng-click="closeToggler()">X</span>
        </header>
        <section>
                <ul class="list notes white-text three-column clear border">
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box white-bg">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>
                    <li class="left border-top border-right box">
                        <p class="medium-text">This is my test title</p>
                        <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                    </li>

                </ul>
        </section>
    </div>
</div>
