<div class="toggler notes-panel">
    <div class="container">
        <header class="clear white-bg border-top clear">
            <img src="images/notes.png" alt="notes" ng-class="cardView ? 'left' : 'left'">
            <img src="images/voice.png" alt="notes" class="left">
            <img src="images/editor.png" alt="editor" class="editor-img"/>
            <span class="right small-text save-alert">Saving</span>
            <span class="white-text right close link gray-text" ng-click="closeToggler()">X</span>
        </header>
        <section>
            <div class="container editor-panel white-bg" ng-if="!cardView">
                <div class="editor box border">
                    <input type="text" placeholder="Title" class="border-bottom large-text gray-text"/>
                    <textarea name="content" id="content" cols="30" rows="24" placeholder="Drag files here or just typing"></textarea>
                </div>
            </div>
            <ul class="list notes app-theme-bg white-text three-column clear border" ng-if="cardView" style="display: none;">
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box white-bg">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>
                <li class="left border-top border-right box">
                    <p class="medium-text">This is my test title</p>
                    <p class="small-text">This is my test description about the card. This is my test description about the card</p>
                </li>

            </ul>
        </section>
    </div>
</div>
