<div class="toggler app-theme-bg tags-panel">
    <div class="container">
        <span class="white-text close link" ng-click="closeToggler()">X</span>
        <div class="content-panel box">
                <p class="small-text white-text">Tags</p>
                <ul class="list tags white-text">
                    <li class="red">Red</li>
                    <li class="orange">Orange</li>
                    <li class="yellow">yellow</li>
                    <li class="green">Green</li>
                    <li class="blue">blue</li>
                </ul>
        </div>
    </div>
</div>
