<div class="overlay-panel register app-theme-bg">
    <div class="container t-center">
        <p class="t-center small-title white-text">welcome to collash</p>

        <form action="">
            <input type="text" name="name" placeholder="Full Name" class="round-border" required/>
            <input type="email" name="email" placeholder="Email" class="round-border" required/>
            <input type="password" name="password" placeholder="Password" class="round-border" required/>
            <hr/>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" class="round-border" required/>
            <div class="white-text v-center t-left"><input type="checkbox"/><label>I agree to the Terms of use</label></div>
            <button class="round-border" ng-click="submitRegister()"><a href="#/main">Create Account</a></button>
        </form>
    </div>
</div>
