<div class="overlay-panel register app-theme-bg">
    <div class="floating">
        <div class="container t-center">
            <p class="t-center small-title white-text">welcome to collash</p>

            <form action="">
                <input type="text" name="name" placeholder="Full Name" class="round-border" required/>
                <input type="email" name="email" placeholder="Email" class="round-border" required/>
                <input type="password" name="password" placeholder="Password" class="round-border" required/>
                <hr/>
                <input type="password" name="confirmPassword" placeholder="Confirm Password" class="round-border" required/>
                <div class="white-text v-center t-left"><input type="checkbox"/><label>I agree to the Terms of use</label></div>
                <button class="round-border first" ng-click="submitRegister()"><a href="#/main">Create Account</a></button>

                <div class="splitter v-center"><hr/><span class="mini-text">or</span><hr/></div>

                <button class="round-border facebook"><a href="#/main">Login with Facebook</a></button>
                <button class="round-border gmail"><a href="#/main">Login with Gmail</a></button>
                <div class="mini-text t-center white-text">Already registered? login</div>
            </form>
        </div>
    </div>
</div>
