<div class="connect-page">
    <div class="top-title t-center">
        <p class="e-large-text">Connect to Search</p>
        <p class="medium-text">Future is more personal. Search too.</p>
    </div>

    <div class="line-splitter clear">
        <div class="left line border-bottom"></div>
        <div class="left text t-center">Connect to Accounts</div>
        <div class="left line border-bottom"></div>
    </div>

    <div class="accounts-panel">
        <ul class="v-center t-center">
            <li class="box round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>
            <li class="box twitter round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>
            <li class="box dropbox round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>
            <li class="box drive round-border"><img src="images/windows.png" alt="social media"/><button class="round-border">Connect</button></li>
        </ul>
    </div>

    <div class="line-splitter clear">
        <div class="left line border-bottom"></div>
        <div class="left text t-center">Connect to Devices</div>
        <div class="left line border-bottom"></div>
    </div>

    <div class="device-panel">
        <ul class="v-center t-center">
            <li class="box"><img src="images/ipad.png" alt="ipad"/><span class="title">iPad</span></li>
            <li class="box"><img src="images/iphone.png" alt="iphone"/><span class="title">iPhone</span></li>
            <li class="box"><img src="images/android.png" alt="android"/><span class="title">Android</span></li>
            <li class="box"><img src="images/blackberry.png" alt="blackberry"/><span class="title">Blackberry</span></li>
            <li class="box"><img src="images/windows.png" alt="windows"/><span class="title">Windows</span></li>
        </ul>
    </div>

    <div class="contact-me t-center v-center">
        <button class="round-border">Text to my phone</button>
        <button class="round-border">Email to my device</button>
    </div>

    <div class="install-panel t-center clear">
        <p class="medium-text">Install collash to your personal computer</p>
        <button class="install round-border medium-text white-bg">Install</button>
        <button class="install round-border white-bg">Skipt</button>
    </div>

</div>
